<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="alllessons-link" aria-haspopup="true" aria-expanded="false">
                All Lessons
            </a>
<!-- add in link to lesson plans above -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subject-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subject
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Maths</a>
                <a href="" class="dropdown-item">English</a>
                <a href="" class="dropdown-item">Irish</a>
                <a href="" class="dropdown-item">Geography</a>
                <a href="" class="dropdown-item">History</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="class-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Junior Infants</a>
                <a href="" class="dropdown-item">Senior Infants</a>
                <a href="" class="dropdown-item">First Class</a>
                <a href="" class="dropdown-item">Second Class</a>
                <a href="" class="dropdown-item">Third Class</a>
                <a href="" class="dropdown-item">Fourth Class</a>
                <a href="" class="dropdown-item">Fifth Class</a>
                <a href="" class="dropdown-item">Sixth Class</a>
            </div>
        </li>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
    
    </ul>
</div>